body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clock{
  display: flex;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font: 30px NanumGothic, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;

}

input{
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}


form{
  margin: 20px;
}

button{
  padding: 10px;
  border-radius: 10px;
}

.hidden{
  display: none;
}

#loginInfo{
  margin: 20px;
}

#userInfo{
  font: 15px NanumGothic, sans-serif;
  display: inline-block;
  margin: 20px;
}
